*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
    background-color: #4f4f4f;
}
body{
    font-family: sans-serif;
    background-image: url(Images/BackGround_Style_5webPlan\ de\ travail\ 1.png);
    background-size: cover;
    background-repeat: no-repeat;
}

nav{
    background: rgba(51, 51, 51, 0.856);
    height: 80px;
    width: 100%;
}

label.logo{
    color: white;
    font-size: 35px;
    line-height: 80px;
    padding: 0;
    font-weight: bold;
    background: none;
    margin-left: 20px;
}
nav ul{
    float: right;
    margin-right: 20px;
    background: none;
    z-index: 1;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    background: none;
}
nav ul li a{
    color: white;
    font-size: 17px;
    text-transform: uppercase;
    border-radius: 3px;
}


a.active, a:hover{
    color: rgb(172, 172, 172);
    transition: 0.5s;
    background: none;
}
.checkbtn{
    font-size: 30px;
    color: white;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    display: none;
    background: none;
    transition: 0.3s;
}
#check{
    display: none;
    background: none;
}
.checkbtn:hover{
    color: #666666;
}

@media (max-width: 952px){
    label.logo{
        font-size: 30px;
        padding-left: 50px;
        background: none;
    }
    nav ul li a{
        font-size: 16px;
    }

}
@media (max-width: 800px){
    .checkbtn{
        display: block;
        background: none;
    }
    .navul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #2c3e50;
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 20px;
    }
    a:hover, a:active{
        background: none;
        color: #0082e6;
    }
    #check:checked ~ ul{
        left: 0;
    }
    .BackIlldiv{
        display: none;
        text-align: none;
        justify-content: none;
    }
}
section{
    background: #273441;
    z-index: -2;
}
.rs{
    display: flex;
    justify-content: center;
    margin-top: 300px;
    margin-bottom: 100px;
    background: none;
}
.yt{
    color: red;
    padding: 10px;
    font-size: 50px;
    margin-right: 50px;
    border-radius: 56px;
    background: #4f4f4f;
    box-shadow:  4px 4px 9px #434343,
             -4px -4px 9px #5b5b5b;
    cursor: pointer;
}
.tweet{
    color: rgb(0, 195, 255);
    padding: 10px;
    font-size: 50px;
    margin-left: 50px;
    border-radius: 56px;
    background: #4f4f4f;
    box-shadow:  4px 4px 9px #434343,
             -4px -4px 9px #5b5b5b;
    cursor: pointer;         
}
.yt:hover{
    border-radius: 56px;
    background: #4f4f4f;
    box-shadow: inset 4px 4px 9px #434343,
                inset -4px -4px 9px #5b5b5b;
}
.tweet:hover{
    border-radius: 56px;
    background: #4f4f4f;
    box-shadow: inset 4px 4px 9px #434343,
                inset -4px -4px 9px #5b5b5b;
}
.bodyexplorer{
    text-align: center;
    margin-top: 90px;
    background: none;
}
.explorerbtn{
    position: relative;
    display: inline-block;
    margin-top: 200px;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 20px;
    letter-spacing: 2px;
    border-radius: 40px;
    background: linear-gradient(90deg,#755bea,#55e7fc);
    padding: 15px;
    transition: all 0.3s;
    cursor: pointer;
    z-index: 0;
}
.explorerbtn:hover{
    background: linear-gradient(90deg,#6647f0,#2dd7f1);
    font-size: 22px;
}
.titleweb{
    font-size: 50px;
    color: white;
    background: none;
}
.BackIlldiv{

    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 300px;
    justify-content: space-evenly;
    background: none;
}
.textBackG{
    color: #fff;
    width: 100px;
    font-size: 20px;
    text-align: center;
    background: none;
}
.textIllu{
    color: #fff;
    width: 90px;
    font-size: 20px;
    text-align: center;
    background: none;
}
.ImageIllu{
    font-size: 90px;
    color: #6647f0;
    background: none;
}
.ImageBack{
    font-size: 90px;
    color: #2dd7f1;
    background: none;
}
.Page{
    background-color: #3b3b3b;
    width: 60%;
    margin-left: 20%;
    padding-bottom: 20px;
    border-radius: 50px;
}
.rsdiv{
    background: none;
}
.BackIll{
    background: none;
}
.BackG{
    background: none;
}
.Illu{
    background: none;
}
i.fas.fa-pencil-ruler{
    background: none;
}
i.fas.fa-images{
    background: none;
}
.contact{
    background: none;
}

.about{
    background: none;
}


